.Container {
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  border: none;
  text-decoration: none;
}
button img {
  width: 1.2em;
}
.FormContainer {
  border-radius: 15px;
  background-color: #eeeeee;
  z-index: 1;
  margin-top: -100px;
}
.HeadForm {
  display: flex;
  gap: 1em;
  font-weight: bold;
  font-size: large;
  align-items: center;
}
.FormControl {
  margin-top: 1.2em;
  border-top: #b6b6b6 solid 1px;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 1em;
  padding: 1em 0;
}
.ButtonSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.2em;
}
.ButtonSubmit input {
  background-color: #acacac;
  border-radius: 10px;
  color: white;
  width: 50%;
  height: 35px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.ButtonSubmit input:hover {
  background-color: #b6b6b6;
}
@media screen and (min-width: 600px) {
  .Container {
    padding: 4em;
  }
  .FormLayout {
    margin: auto;
  }
  .HeadForm {
    font-size: x-large;
  }
  .FormControl {
    margin-top: 2em;
  }
  .ButtonSubmit {
    margin-top: 2em;
  }
}
@media screen and (min-width: 1000px) {
  .FormLayout {
    width: 65%;
  }
  .FormContainer {
    width: 80%;
  }
}
