nav {
  background-color: rgb(159, 159, 159, 0.5);
}
a {
  text-decoration: none;
}

nav .container {
  padding: 10px;
}

.navbar-brand {
  color: #3c227c;
  font-family: Poppins;
  font-weight: 900;
  font-size: 35px;
}

.navbar-nav {
  margin-left: auto;
  font-family: Poppins;
  font-weight: 600;
}

.navbar-nav a {
  margin: 0 10px;
}

#login {
  color: #3c227c;
  margin: auto 0;
  margin-left:10px;
  padding: 10px;
}

#login:hover{
  color: white;
}

#signup {
  color: white;
  background-color: #27374d;
}

#signup:hover{
  background-color: white;
  color:black;
}